/* Shell CSS file */

* { margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background-color: rgb(0, 150,100, .7);
}

#image1 {
    width: 32.85vw;
    float: left;
}

#image2 {
    width: 32.85vw;
    float: left;
}

#image3 {
    width: 32.85vw;
    float: left;
}