/* Shell CSS file */

* { margin: 0px;
    padding: 0px;
    box-sizing:border-box; 
    /*now width/height sets box and margin is inside*/
}

:root {
    --primary-color: blue;
    /*--primary-idiot: 'me';*/
}

body{
    background-color: var(--primary-color, blue);
}
