/* Shell CSS file */

* { margin: 0px;
    padding: 0px;
    box-sizing:border-box; 
    /*now width/height sets box and margin is inside*/
}

:root {
    --primary-color: blue;
    /*--primary-idiot: 'me';*/
}

body{
    background-color: var(--primary-color, blue);
}

#name {
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;

    width: 30%;
    font-size: 3em;
    text-align: center;
}