/* Shell CSS file */

html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: inherit;
    padding:inherit;
}

:root {
    --color-a: red;
    --color-b: red;
    --color-c: red;
    --color-d: #24505E;
    --color-e: #303030;
}

body{
    background-color: var(--color-d, white);
}

.container {
    height: 100vh; /* sets the container from default */
    display:grid;
    grid-gap:5px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 50px auto 50px;

    grid-template-areas: 
        "h h h h h h h h"
        "r r t t c c g g"
        "f f f f f f f f";
}

#name{
    color:white;
    font-family: "Krona One";
    margin: 1%;
}

h3 {
    color: #A8D0A6;
    text-align: center;
    margin: 10%;
    font-size: 1.5em;
    font-family: "Krona One", sans-serif;
}

p {
    color:#F8E9A1;
    font-size: .7em;
    font-family: Mitr;
}

.menu {
    grid-area: h;
    background-color: var(--color-e);
}

.research {
    grid-area: r;
}

.technology {
    grid-area: t;
}

.communication {
    grid-area: c;
}

.graphics {
    grid-area: g;
}

.footer {
    grid-area: f;
    background-color: var(--color-e);
}