/* Shell CSS file */

/*html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: inherit;
    padding:inherit;
}*/

:root {
    --primary-color: white;
}

/*body{
    background-color: var(--primary-color, white);
}*/

.container {
    height: 100vh; /* sets the container from default */
    display:grid;
    grid-gap:5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px auto 50px;

    grid-template-areas: 
        "h h h h"
        "r t c g"
        "f f f f";
}

.menu {
    grid-area: h;
}

.research {
    grid-area: r;
}

.technology {
    grid-area: t;
}

.communication {
    grid-area: c;
}

.footer {
    grid-area: f;
}