/* Shell CSS file */

html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: inherit;
    padding:inherit;
}

:root {
    --primary-color: white;
    /*--primary-idiot: 'me';*/
}

body{
    background-color: var(--primary-color, white);
}

.container {
    display:grid;
}