/* Shell CSS file */

html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: inherit;
    padding:inherit;
}

:root {
    --primary-color: white;
    /*--primary-idiot: 'me';*/
}

body{
    background-color: var(--primary-color, white);
}

.container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 200px 150px;
    grid-gap:5px;
}

.menu {
    grid-column-start: 1;
    grid-column-end: 5;
}

.research {

}

.technology {

}

.communication {

}

.footer {
    grid-column: 1/5;
}