/* Shell CSS file */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* { margin: 0px;
    padding: 0px;
    box-sizing:border-box; 
    /*now width/height sets box and margin is inside*/
}

:root {
    --primary-color: blue;
    /*--primary-idiot: 'me';*/
}

body{
    background-color: var(--primary-color, blue);
}

img{
    border: 3px solid magenta;
    width: 40%;
    float:left;
}
#boston2 {
    float: right;
}
