/* Shell CSS file */

:root {
    --primaryColor: blue;
}


* { margin: 0px;
    padding: 0px;
    box-sizing:border-box; 
    /*now width/height sets box and margin is inside*/
}

body{
    background-color: var(--primaryColor, blue);
}

#name{
    color: green;
    font-size: 2em;
    font-family: "Arial", sans-serif;
    border: 10px solid grey;
    padding: 10px;
    margin-left: 50px;
}

h1 {
    font-size: 3em;
    font-weight: 400;
    font-style: oblique;
    font-family: "Georgia", serif;
}

h1.second{
    padding: 50px;
    color: steelblue;
    font-size: 4em;
    text-align: center;
    font-style: normal;
    font-family: "Zen Dots", sans-serif;
}

#boston {
    border: 3px solid white;
    width: 40%;
    float: right;
}
