/* Shell CSS file */

* { margin: 0px;
    padding: 0px;
}

#name{
    color: green;
    font-size: 2em;
    font-family: "Arial", sans-serif;
}

h1 {
    font-size: 3em;
    font-weight: 400;
    font-style: oblique;
    font-family: "Georgia", serif;
}

h1.second{
    color: steelblue;
    font-size: 4em;
    text-align: center;
    font-style: normal;
    font-family: "Zen Dots", sans-serif;
}


