/* Shell CSS file */

* { margin: 0px;
    padding: 0px;
}

body{

}

#name{
    color: green;
    font-size: 2em;
    font-family: "Arial", sans-serif;
    border: 10px solid black;
}

h1 {
    font-size: 3em;
    font-weight: 400;
    font-style: oblique;
    font-family: "Georgia", serif;
}

h1.second{
    padding: 50px;
    color: steelblue;
    font-size: 4em;
    text-align: right;
    font-style: normal;
    font-family: "Zen Dots", sans-serif;
    width: 30vw;
}


