/* Shell CSS file */

* { margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

.flex-container {
    display: flex;
    background-color: black;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
}

.flex-container > img {
    background-color: white;

}

