/* Shell CSS file */

* { margin: 0px;
    padding: 0px;
    box-sizing:border-box; 
    /*now width/height sets box and margin is inside*/
}

:root {
    --primary-color: blue;
    /*--primary-idiot: 'me';*/
}

body{
    background-color: var(--primary-color, blue);
}

h1 {
    font-size: 3em;
    font-weight: 400;
    font-style: oblique;
    font-family: "Georgia", serif;
}

/*h1.second{
    padding: 50px;
    color: steelblue;
    font-size: 4em;
    text-align: center;
    font-style: normal;
    font-family: "Zen Dots", sans-serif;
}

h1.second:hover {
    transition: 5000ms;
    color: yellow;
}*/

/*#name{
    color: var(--primary-color);
    font-size: 2em;
    font-family: "Arial", sans-serif;
    border: 10px solid grey;
    animation-name: example;
    animation-delay: 1000ms;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}*/

#image-container{
    
}

#boston {
    display:block;
    border: 3px solid magenta;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
